#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer definitions

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUNC    3
#define MOUSE   4
#define SCROLL  5
#define SETTING 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        // Y + U = Mouse Button 1 (Left Click)

        combo_btn1 {
            timeout-ms = <50>;
            key-positions = <18 19>;  // Y and U positions
            bindings = <&mkp MB1>;
        };

        // U + I = Mouse Button 2 (Right Click)

        combo_btn2 {
            timeout-ms = <50>;
            key-positions = <19 20>;  // U and I positions
            bindings = <&mkp MB2>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // TD(0): Tap=F, Hold=MO(1), Double-tap=LANG2

        td_f: td_f {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_F";
            #binding-cells = <0>;
            bindings = <&lt NUM F>, <&kp LANGUAGE_2>;

            tapping-term-ms = <200>;
        };

        // TD(1): Tap=J, Hold=MO(1), Double-tap=LANG1

        td_j: td_j {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_J";
            #binding-cells = <0>;
            bindings = <&lt NUM J>, <&kp LANGUAGE_1>;

            tapping-term-ms = <200>;
        };

        // TD(2): Tap=Backspace, Hold=MO(2)

        td_bspc: td_bspc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_BSPC";
            #binding-cells = <0>;
            bindings = <&lt SYM BSPC>, <&kp BSPC>;

            tapping-term-ms = <140>;
        };

        WheelScroll: WheelScroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "WHEELSCROLL";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Default (QWERTY)

        default_layer {
            bindings = <
&kp Q               &kp W     &kp E             &kp R          &kp T                                                      &kp Y            &kp U  &kp I      &kp O    &kp P
&mt LCTRL A         &kp S     &kp D             &td_f          &lt FUNC G  &trans                    &mo 6                &lt FUNC H       &td_j  &kp K      &lt 5 L  &kp MINUS
&mt LSHFT Z         &kp X     &kp C             &kp V          &kp B       &kp LS(LG(NUMBER_4))      &trans               &kp N            &kp M  &kp COMMA  &kp DOT  &kp SLASH
&mt LEFT_SHIFT TAB  &kp LGUI  &mt LEFT_ALT TAB  &lt SYM SPACE  &kp LGUI    &lt 2 SPACE               &mt RIGHT_GUI ENTER  &lt 2 BACKSPACE                             &kp RIGHT_SHIFT
            >;

            sensor-bindings = <&WheelScroll SCRL_DOWN SCRL_UP>;
        };

        // Layer 1: Numbers + Arrows

        num_layer {
            bindings = <
&kp TAB    &kp N7  &kp N8  &kp N9  &kp ASTRK                      &none  &none     &kp UP    &none      &kp SQT
&kp LCTRL  &kp N4  &kp N5  &kp N6  &kp EQUAL  &trans      &trans  &none  &kp LEFT  &kp UP    &kp RIGHT  &kp COLON
&kp LSHFT  &kp N1  &kp N2  &kp N3  &kp PRCNT  &trans      &trans  &none  &none     &kp DOWN  &none      &kp BSLH
&kp N0     &none   &kp N0  &none   &none      &trans      &trans  &none                                 &kp BSPC
            >;

            sensor-bindings = <&WheelScroll SCRL_RIGHT SCRL_LEFT>;
        };

        // Layer 2: Symbols

        sym_layer {
            bindings = <
&kp ESC  &kp TILDE  &kp QMARK  &kp EXCL  &kp DQT                      &none             &kp LC(LEFT)  &kp LS(LG(L))  &kp LC(RIGHT)     &none
&kp TAB  &kp AMPS   &kp HASH   &kp AT    &none    &trans      &trans  &none             &none         &none          &none             &none
&none    &none      &none      &none     &none    &trans      &trans  &kp LS(LG(LBKT))  &kp LG(LBKT)  &kp LG(RBKT)   &kp LS(LG(RBKT))  &none
&none    &none      &trans     &none     &none    &trans      &trans  &mt RGUI ENTER                                                   &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp LG(MINUS) LG(EQUAL)>;
        };

        // Layer 3: Function keys + Brackets

        func_layer {
            bindings = <
&none  &kp F7  &kp F8  &kp F9  &kp F12                      &none  &none  &kp LPAR    &kp RPAR    &kp SQT
&none  &kp F4  &kp F5  &kp F6  &kp F11  &trans      &trans  &none  &none  &kp LBKT    &kp RBKT    &none
&none  &kp F1  &kp F2  &kp F3  &kp F10  &trans      &trans  &none  &none  &kp LA(N9)  &kp LA(N0)  &none
&none  &none   &trans  &none   &none    &trans      &trans  &none                                 &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        // Layer 4: Mouse

        mouse_layer {
            bindings = <
&none        &none      &none      &none      &none                      &mkp MB1  &mkp MB2     &none  &none  &none
&none        &none      &none      &mo NUM    &none  &trans      &trans  &none     &to DEFAULT  &none  &none  &none
&mt LSHFT Z  &kp LG(X)  &kp LG(C)  &kp LG(V)  &none  &trans      &trans  &none     &none        &none  &none  &none
&kp LALT     &kp LGUI   &trans     &none      &none  &trans      &trans  &none                                &none
            >;
        };

        // Layer 5: Scroll (for trackball scroll mode)

        scroll_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        // Layer 6: Settings (BT controls)

        setting_layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none
&none         &none         &none         &none         &none         &trans      &trans  &none         &none         &none         &none         &none
&none         &none         &none         &none         &none         &trans      &trans  &none         &none         &none         &none         &bootloader
&bootloader   &sys_reset    &trans        &none         &none         &trans      &trans  &none                                                   &none
            >;
        };

        // Layer 7: Empty (reserved)

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
